<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>タイムカード</title></head>
<body>
    <h2>勤務一覧</h2>
    <a href="/timecard/create">新規登録</a>
    <table border="1">
        <tr><th>ID</th><th>日付</th><th>開始</th><th>終了</th><th>備考</th><th>操作</th></tr>
        <% let i = 0; %>
        <% for(let row of data) { %>
        <tr>
            <td><%= row.id %></td><td><%= row.date %></td>
            <td><%= row.start %></td><td><%= row.end %></td><td><%= row.note %></td>
            <td>
                <a href="/timecard/<%= i %>">詳細</a> | 
                <a href="/timecard/edit/<%= i %>">編集</a> | 
                <a href="/timecard/delete/<%= i %>">削除</a>
            </td>
        </tr>
        <% i++; } %>
    </table>
    <br><a href="/">Topへ</a>
</body>
</html>