<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>編集</title></head>
<body>
    <h2>編集</h2>
    <form action="/timecard/update/<%= number %>" method="POST">
        ID: <%= data.id %><br>
        日付: <input type="date" name="date" value="<%= data.date %>"><br>
        開始: <input type="time" name="start" value="<%= data.start %>"><br>
        終了: <input type="time" name="end" value="<%= data.end %>"><br>
        備考: <input type="text" name="note" value="<%= data.note %>"><br>
        <input type="submit" value="更新">
    </form>
    <a href="/timecard">戻る</a>
</body>
</html>