<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>編集</title></head>
<body>
    <h2>編集</h2>
    <form action="/wordbook/update/<%= number %>" method="POST">
        ID: <%= data.id %><br>
        単語: <input type="text" name="word" value="<%= data.word %>"><br>
        意味: <input type="text" name="meaning" value="<%= data.meaning %>"><br>
        例文: <input type="text" name="example" value="<%= data.example %>"><br>
        <input type="submit" value="更新">
    </form>
    <a href="/wordbook">戻る</a>
</body>
</html>